header{
    text-align: left;
}

.logo{
    margin: 1rem;
    color: #00aae8;
    height: 50px;
    transition: 1s;
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    header{
        justify-content: center;
    }
}